#
# Below is a list of MAKit code owners.
# They are responsible for:
#
# - reviewing PR before it can be merged into the main branch
# - handle GitHub Issues lifecycle
#
# Code owneers are added by existing code owners,
# everybody can suggeset new code owners.
#

* @jean-francoisreboud
